l, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup,
	tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label,
	legend, table, caption, tbody, tfoot, thead, tr, th, td {
	padding: 0;
	border: 1;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	list-style: none;
	text-decoration: none;
}

html, body {
	font-family: Helvetica;
	margin: 0px;
	height: 100%;
}

#the-basics {
	height: 450px;
	overflow-y: auto;
	padding-left: 5px;
	padding-top: 5px;
}

div.feedback, div.divfeedback {
	display: none
}

tr.tab td, tr.tab td>label {
	padding-left: 40px;
	padding-right: 0px;
	vertical-align: middle;
}

tr.txtarea td, tr.trAbsage td {
	vertical-align: middle;
}

tr.trAbsage {
	display: none;
}

tr.txtarea  td.textarea, tr.trAbsage td.textarea {
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.clear {
	clear: both;
}

﻿﻿

.flRight {
	float: right;
	padding-top: 3px;
}

.flLeft {
	float: left;
	padding-top: 3px;
}

.radio {
	width: 15px !important;
}

#scroller {
	_position: absolute;
	_top: 0px;
	bottom: 0px;
	width: 100%;
	overflow: auto;
}

.scrollerNav {
	width: 100% !important;
	_top: 232px !important;
	height: 350px;
	background: #F3F3F3;
	position: relative;
}

#wrapper {
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	background: url(images/bg.png) repeat-y #fff;
}

#innerWrapper {
	width: 100%;
	background: url(images/bg.png) repeat-y #fff;
}

#greyTop {
	background: #F3F3F3;
	height: 44px;
	border-bottom: 3px solid white;
	-moz-box-shadow: 0px 0px 4px #A4A4A4;
	-webkit-box-shadow: 0px 0px 4px #A4A4A4;
	box-shadow: 0px 0px 4px #A4A4A4;
}

.addButtonTop {
	width: 265px;
	height: 29px;
	background: #5b5b5b;
	margin: 0;
	padding-left: 10px;
	padding-top: 4px;
	border-bottom: 3px solid #fff;
	-moz-box-shadow: 0px 0px 4px #a4a4a4;
	-webkit-box-shadow: 0px 0px 4px #a4a4a4;
	box-shadow: 0px 0px 4px #a4a4a4;
}

.showButtonModul {
	width: 100%;
	height: 29px;
	background: #5b5b5b;
	margin: 0;
	-moz-box-shadow: 0px 0px 4px #a4a4a4;
	-webkit-box-shadow: 0px 0px 4px #a4a4a4;
	box-shadow: 0px 0px 4px #a4a4a4;
}
.showButtonModul .normal,
.showButtonModul .standard {
	float: left;
	width: 50%;
	cursor: pointer;
	text-align: center;
	line-height: 29px;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
}

.showButtonModul .active {
	background: #fff;
	color: #000;
	font-weight: bold;
}

#navLeft li.hide {
	display: none !important;
}

.addButtonTop:hover {
	background: #4d4d4d;
}

.addButtonTop>a {
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	display: block;
	/* float:left;*/
	margin-top: 4px;
}

.greenFont {
	color: #699231;
}

/* Linke Seite */
#leftBox {
	width: 275px;
	background: #f3f3f3;
	float: left;
}

#navTop {
	background: #23404e;
	height: 158px;
	padding-top: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 5px;
	border-bottom: 3px solid #fff;
	-moz-box-shadow: 0px 0px 4px #a4a4a4;
	-webkit-box-shadow: 0px 0px 4px #a4a4a4;
	box-shadow: 0px 0px 4px #a4a4a4;
}

#navTop>li {
	width: 83px;
	height: 21px;
	padding-top: 4px;
	margin-top: 8px;
	margin-right: 5px;
	border: 1px solid #132d3c;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #406b83; /* Old browsers */
	background: -moz-linear-gradient(top, #406b83 0%, #7594a5 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #406b83),
		color-stop(100%, #7594a5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #406b83 0%, #7594a5 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #406b83 0%, #7594a5 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #406b83 0%, #7594a5 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #406b83 0%, #7594a5 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#406b83',
		endColorstr='#7594a5', GradientType=0); /* IE6-9 */
	float: left;
}

#navTop>li:hover {
	background-image: linear-gradient(bottom, rgb(105, 148, 50) 56%,
		rgb(144, 185, 89) 70%);
	background-image: -o-linear-gradient(bottom, rgb(105, 148, 50) 56%,
		rgb(144, 185, 89) 70%);
	background-image: -moz-linear-gradient(bottom, rgb(105, 148, 50) 56%,
		rgb(144, 185, 89) 70%);
	background-image: -webkit-linear-gradient(bottom, rgb(105, 148, 50) 56%,
		rgb(144, 185, 89) 70%);
	background-image: -ms-linear-gradient(bottom, rgb(105, 148, 50) 56%,
		rgb(144, 185, 89) 70%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.56, rgb(105
		, 148, 50)), color-stop(0.7, rgb(144, 185, 89)));
}

#navTop>li.active {
	background-image: linear-gradient(bottom, rgb(105, 148, 50) 56%,
		rgb(144, 185, 89) 70%);
	background-image: -o-linear-gradient(bottom, rgb(105, 148, 50) 56%,
		rgb(144, 185, 89) 70%);
	background-image: -moz-linear-gradient(bottom, rgb(105, 148, 50) 56%,
		rgb(144, 185, 89) 70%);
	background-image: -webkit-linear-gradient(bottom, rgb(105, 148, 50) 56%,
		rgb(144, 185, 89) 70%);
	background-image: -ms-linear-gradient(bottom, rgb(105, 148, 50) 56%,
		rgb(144, 185, 89) 70%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.56, rgb(105
		, 148, 50)), color-stop(0.7, rgb(144, 185, 89)));
}

.allReminder {
	width: 263px !important;
}

#navTop>li>a {
	color: #fff;
	font-weight: bold;
	font-size: 12px;
}

#navLeft {
	margin: 0px;
}

#navLeft>li {
	background: #e2e2e2;
	border-top: 1px solid #c7c7c7;
	font-size: 14px;
	font-weight: bold;
	color: #4a4a4a;
	cursor: pointer;
}

#navLeft>li:hover, #navLeft>li.active {
	background-image: linear-gradient(bottom, rgb(228, 228, 228) 0%,
		rgb(255, 255, 255) 68%);
	background-image: -o-linear-gradient(bottom, rgb(228, 228, 228) 0%,
		rgb(255, 255, 255) 68%);
	background-image: -moz-linear-gradient(bottom, rgb(228, 228, 228) 0%,
		rgb(255, 255, 255) 68%);
	background-image: -webkit-linear-gradient(bottom, rgb(228, 228, 228) 0%,
		rgb(255, 255, 255) 68%);
	background-image: -ms-linear-gradient(bottom, rgb(228, 228, 228) 0%,
		rgb(255, 255, 255) 68%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(228,
		228, 228)), color-stop(0.68, rgb(255, 255, 255)));
	_background: url("images/navArrow.png") no-repeat scroll right;
}

#navLeft>li:last-child {
	border-bottom: 1px solid #c7c7c7;
}

#navLeft>li>p {
	_width: 230px;
	padding-left: 8px;
	padding-right: 10px;
	float: left;
}

span.navArrow {
	width: 20px;
	height: 20px;
	background: url(images/navArrow.png) no-repeat;
	float: right;
	display: block;
	margin-right: 5px;
	margin-top: 12px;
}

/* Rechte Seite */
.headline {
	background: #e2e2e2;
	border-bottom: 3px solid #fff;
	-moz-box-shadow: 0px 0px 4px #a4a4a4;
	-webkit-box-shadow: 0px 0px 4px #a4a4a4;
	box-shadow: 0px 0px 4px #a4a4a4;
}

#rightBox {
	width: 79%;
	float: left;
}

#headTop {
	height: 50px;
	margin-top: 0px;
	padding-left: 9px;
	border-bottom: 3px solid #fff;
	background: url(images/headtop.png) repeat-x;
}

#headTop>h1 {
	font-size: 20px;
	font-weight: bold;
	color: #004455;
	text-shadow: #fff 2px 1px 1px;
	float: left;
}

#content {
	padding: 30px 0px 30px 30px;
}

#content>.grey>h1 {
	font-size: 24px;
	font-weight: bold;
	color: #004455;
	margin: 0;
	padding-bottom: 25px;
}

td>h1 {
	font-size: 24px;
	font-weight: bold;
	color: #004455;
	margin: 0;
	padding-bottom: 25px;
}

#content>.grey>#left {
	width: 400px;
	float: left;
	padding-top: 8px;
}

#content>.grey>#right {
	width: 202px;
	float: left;
	padding: 8px;
}

#content>.grey>#right>.bottomBox {
	margin-top: 0px;
	margin-bottom: 15px;
}

#content>.grey {
	width: 100%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #F3F3F3;
	padding: 10px;
	border: 2px solid white;
	-moz-box-shadow: 0px 0px 4px #A4A4A4;
	-webkit-box-shadow: 0px 0px 4px #A4A4A4;
	box-shadow: 0px 0px 4px #A4A4A4;
}

.data {
	padding-right: 10px;
}

.data .check {
	width: 15px;
}

.login {
	margin-left: 10px;
}

.data>select, .data>.toggle>select {
	height: 29px;
	border: 0px;
	font-size: 14px;
	padding-left: 8px;
	color: #4a4a4a;
	float: left;
	margin-right: 10px;
	margin-bottom: 25px;
}

.groupChoose {
	height: 100px !important;
}

.data>.list-document .item>label.user, .data>label.user, .data>.toggle>label.user
	{
	width: 135px;
	display: block;
	float: left;
	font-size: 16px;
	font-weight: bold;
	color: #004455;
	padding-top: 6px;
}

.data>.list-document .item>label.user2, .data>label.user2 {
	width: 300px;
	display: block;
	font-size: 16px;
	font-weight: bold;
	color: #004455;
	padding-top: 6px;
	padding-bottom: 10px;
}

.data>.list-document .item>input, .data>input, .data>.toggle>input,
	.productdescription {
	background: #fbfbfb;
	padding: 4px 10px;
	border: 1px solid #c7c7c7;
	font-size: 14px;
	color: #4a4a4a;
	margin-bottom: 15px;
	outline: 0;
	width: 212px;
}

.productdescription {
	width: 347px;
	height: 125px;
	margin-top: 10px;
}

.data>.list-document .item>select, .data>select, .data>.toggle>select {
	width: 234px;
	background: #fbfbfb;
	padding: 4px 10px;
	border: 1px solid #c7c7c7;
}

.data>input#street, .data>.toggle>input#street {
	width: 212px;
	margin-right: 5px;
}

.data>input#number, .data>.toggle>input#number {
	width: 25px;
}

.data>input#zipcode, .data>.toggle>input#zipcode {
	width: 48px;
	margin-right: 5px;
}

.data>input#town, .data>.toggle>input#town {
	width: 133px;
}

.customers {
	width: 255px;
	float: left;
}

.customers a {
	color: #004455;
	line-height: 1.5em;
}

#right>a>img {
	border: 1px solid #c7c7c7;
	-moz-box-shadow: 0px 0px 5px #a4a4a4;
	-webkit-box-shadow: 0px 0px 5px #a4a4a4;
	box-shadow: 0px 0px 5px #a4a4a4;
	float: left;
	margin-bottom: 25px;
}

#right>a>.greenBox, #right>.greenBox, input.active {
	width: 212px;
	height: 50px;
	background: #699231;
	margin-bottom: 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

input.active {
	width: 212px;
	height: 50px;
	background: #699231;
	margin-bottom: 10px;
	border-radius: 5px;
	padding-top: 2px;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#left>.greyBox, #right>a>.greyBox, #right>.greyBox {
	width: 212px;
	height: 30px;
	background: #e5e5e5;
	cursor: pointer;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#left>.greyBox:hover, #right>a>.greyBox:hover, #right>.greyBox:hover {
	background: #dddddd;
}

#right>a>.greenBox>img, #right>.greenBox>img {
	padding-top: 15px;
	float: left;
	padding-left: 10px;
	padding-right: 7px;
}

#left>.greyBox>img, #right>.greyBox>img {
	padding-top: 8px;
	float: left;
	padding-left: 10px;
	padding-right: 7px;
}

#right>a>.greyBox>img {
	padding-top: 5px;
	float: left;
	padding-left: 7px;
	padding-right: 7px;
}

#right>a>.greenBox>p, #right>.greenBox>p {
	padding-top: 2px;
	color: #fff;
	font-weight: bold;
	float: left;
}

#left>.greyBox>p, #right>a>.greyBox>p, #right>.greyBox>p {
	padding-top: 8px;
	font-size: 14px;
	color: #000;
}

#right>a>.greyBox>a, #right>.greyBox>a {
	font-size: 14px;
	color: #000;
}

.toggle {
	display: none;
}

#toggle {
	background: #F3F3F3;
	padding: 4px 10px;
	border: 1px solid #C7C7C7;
	font-size: 16px;
	color: #4A4A4A;
	margin-bottom: 15px;
	outline: 0;
}

.editForm, #editForm, #editFormFeedback {
	background: #F3F3F3;
	padding: 4px 10px;
	border: 1px solid #C7C7C7;
	font-size: 16px;
	color: #4A4A4A;
	margin-bottom: 15px;
	outline: 0;
	margin-right: 20px;
}

#toggleClose {
	background: #F3F3F3;
	padding: 4px 10px;
	border: 1px solid #C7C7C7;
	font-size: 16px;
	color: #4A4A4A;
	margin-bottom: 15px;
	outline: 0;
	display: none;
}

/* Unten */
.bottomBox {
	width: 20%;
	height: 300px;
	float: left;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #f2f1f1;
	border: 1px solid #c7c7c7;
	margin-right: 9px;
	margin-top: 15px;
}

.bottomBox2 {
	width: 78%;
	/*height: 300px;*/
	float: left;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #f2f1f1;
	border: 1px solid #c7c7c7;
	margin-right: 0px;
	margin-top: 15px;
}

.noticeBox {
	width: 210px;
	height: 150px;
	float: left;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #f2f1f1;
	border: 1px solid #c7c7c7;
	margin-right: 9px;
	margin-top: 15px;
}

.bottomBoxLarge {
	width: 653px;
	height: 300px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #f2f1f1;
	border: 1px solid #c7c7c7;
	margin-right: 9px;
	margin-top: 35px;
	margin-bottom: 30px;
}

.bottomBoxReminder {
	height: 230px;
}

#reminder {
	padding: 10px;
}

.bottomBox2>h1, .bottomBox>h1, .noticeBox>h1, .bottomBoxLarge>h1 {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background: #0A8476;
	padding: 10px;
	color: #fff;
	font-size: 16px;
	margin: 0;
}

.bottomBox2>.innerBottomBox, .bottomBox>.innerBottomBox {
	width: 210px;
	height: 230px;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.noticeBox>.innerBottomBox {
	width: 210px;
	height: 80px;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.bottomBoxLarge>.innerBottomBoxLarge {
	width: 653px;
	height: 230px;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.bottomBox2>.addButton, .bottomBox>.addButton, .noticeBox>.addButton {
	width: 191px;
	height: 25px;
	background: #5b5b5b;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	position: relative;
	bottom: 0px;
	padding-top: 8px;
	padding-left: 10px;
	padding-right: 10px;
}

.bottomBoxLarge>.addButton {
	width: 634px;
	height: 25px;
	background: #5b5b5b;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	position: relative;
	bottom: 0px;
	padding-top: 8px;
	padding-left: 10px;
	padding-right: 10px;
}

.bottomBox2>.addButton>a, .bottomBox>.addButton>a, .noticeBox>.addButton>a,
	.bottomBoxLarge>.addButton>a {
	font-size: 12px;
	font-weight: bold;
	color: #fff;
}

.bottomBox2>.addButton>a>.greenFont, .bottomBox>.addButton>a>.greenFont,
	.noticeBox>.addButton>a>.greenFont, .bottomBoxLarge>.addButton>a>.greenFont
	{
	color: #699231;
}

.saveForm, #saveForm {
	width: 86px !important;
	float: left;
	margin-top: 0px;
	margin-right: 20px;
	display: none;
	background: #F3F3F3;
}

#saveFeedback {
	width: 86px !important;
	font-size: 14px;
	height: 30px;
	margin-top: 0px;
	margin-right: 20px;
	display: none;
	background: #F3F3F3;
}

.list {
	margin-top: 0px;
	color: #4a4a4a;
	font-size: 14px;
}

.list>li>a {
	color: #4a4a4a;
	text-decoration: none;
	font-size: 14px;
	display: block;
	width: 170px;
	float: left;
}

.bottomBoxLarge .list>li>a {
	color: #4a4a4a;
	text-decoration: none;
	font-size: 14px;
	display: inline;
	/* width: 170px; */
	float: inherit;
}
/*
.bottomBoxLarge .list > li > a {
  width:25px;
  margin-right:10px;
}

/*linh added:*/
.bottomBoxLarge .list>li>a.newWindow {
	width: 25px;
	margin-right: 10px;
}
/*end*/
.list>li>img {
	float: right;
	cursor: pointer;
}

.list>li {
	background: #e5e5e5;
	padding: 7px 10px;
	border-top: 1px solid #c7c7c7;
	overflow: hidden;
}

.list>li:last-child {
	border-bottom: 1px solid #c7c7c7;
}

.list>li:hover {
	background: #dadada;
}

.list>li>a>img {
	float: left;
	/* linh korrigiert
  float:right;
   */
}

/* Counterpart */
#comment {
	width: 347px;
	height: 150px;
	margin-top: 5px;
	margin-bottom: 15px;
	background: #F3F3F3;
	padding: 4px 10px;
	border: 1px solid #C7C7C7;
	font-size: 14px;
	color: #4A4A4A;
	outline: 0;
}

.counterpartData>li {
	width: 170px;
	padding-right: 10px;
	float: left;
}

.counterpartData>li>img {
	cursor: pointer;
}

#ui-datepicker-div {
	z-index: 1500 !important;
}

/* Searchbox */
.searchbox {
	padding: 10px;
	background: #787878;
}

.searchbox>span {
	font-size: 12px;
	color: #fff;
}

.searchbox>#searchword {
	width: 175px;
	height: 18px;
	background: #e2e2e2;
	margin-left: 5px;
}

.shortlist {
	width: 400px !important;
	height: 150px !important;
}

.shortlist option {
	padding-top: 6px;
	padding-bottom: 6px;
}

.searchresult li {
	cursor: pointer;
}

.tagsearch {
	margin-left: 135px;
}

.extracheck {
	width: 25px !important;
}

/* Login */
#login {
	width: 300px;
	margin: 30px auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #F2F1F1;
	border: 1px solid #C7C7C7;
}

#login>h1 {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background: #C7C7C7;
	padding: 10px;
	color: white;
	font-size: 16px;
	margin: 0 0 15px 0;
}

#login>form>span.error {
	font-size: 12px;
	display: block;
	color: red;
}

#login>form>input {
	background: #fff;
}

#topline {
	background: #23404e;
	height: 90px;
	text-align: center;
	padding-top: 40px;
}

.csvexport {
	width: 200px;
	height: 25px;
	display: block;
	background-image: linear-gradient(bottom, rgb(105, 148, 50) 56%,
		rgb(144, 185, 89) 70%);
	background-image: -o-linear-gradient(bottom, rgb(105, 148, 50) 56%,
		rgb(144, 185, 89) 70%);
	background-image: -moz-linear-gradient(bottom, rgb(105, 148, 50) 56%,
		rgb(144, 185, 89) 70%);
	background-image: -webkit-linear-gradient(bottom, rgb(105, 148, 50) 56%,
		rgb(144, 185, 89) 70%);
	background-image: -ms-linear-gradient(bottom, rgb(105, 148, 50) 56%,
		rgb(144, 185, 89) 70%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.56, rgb(105
		, 148, 50)), color-stop(0.7, rgb(144, 185, 89)));
	padding-top: 7px;
	margin-top: 8px;
	margin-right: 5px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	float: right;
	position: relative;
	right: -28px;
	top: -34px;
	border: 1px solid #fff;
}

.info-user {
	float: right;
	font-size: 14px;
	padding-top: 4px;
	margin-top: 8px;margin-right: 7px;
}

.logout {
	width: 80px;
	float: right;
	height: 21px;
	padding-top: 4px;
	margin-top: 8px;
	font-size: 14px;
	color: #fff;
	margin-right: 7px;
	border: 1px solid #fff;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-shadow: none;
	background-image: linear-gradient(bottom, rgb(171, 51, 51) 40%,
		rgb(214, 64, 64) 70%);
	background-image: -o-linear-gradient(bottom, rgb(171, 51, 51) 40%,
		rgb(214, 64, 64) 70%);
	background-image: -moz-linear-gradient(bottom, rgb(171, 51, 51) 40%,
		rgb(214, 64, 64) 70%);
	background-image: -webkit-linear-gradient(bottom, rgb(171, 51, 51) 40%,
		rgb(214, 64, 64) 70%);
	background-image: -ms-linear-gradient(bottom, rgb(171, 51, 51) 40%,
		rgb(214, 64, 64) 70%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.4, rgb(171,
		51, 51)), color-stop(0.7, rgb(214, 64, 64)));
}

.logout>a {
	color: #fff;
	font-weight: bold;
	font-size: 12px;
}

/* Dateiupload */
#userfile {
	width: 214px;
	margin-bottom: 10px;
}

/* Reminder */
.reminder {
	width: 640px;
	overflow: hidden;
}

.reminder ul {
	margin: 0px;
	padding: 0px;
	border-bottom: 1px #ccc solid;
	background: #f4f4f4;
}

.reminder ul li {
	width: 185px;
	float: left;
	border-top: 2px #f4f4f4 solid;
	padding: 10px;
}

.reminder ul li a {
	color: #000;
}

.reminderTop>li {
	background: #23404e !important;
	color: #fff;
	font-weight: bold;
}

.reminder ul li:nth-child(odd) {
	background: #f4f4f4;
}

.reminder ul li:nth-child(even) {
	background: #d8d8d8;
}

.reminder li.small {
	width: 95px;
	text-align: center;
}

/* Typehead css */
/* ------------ */
/* Typehead css */
/* ------------ */

/* Typehead css */
/* ------------ */

/* Typehead css */
/* ------------ */

/* Typehead css */
/* ------------ */
@font-face {
	font-family: Prociono;
	src: url(../font/Prociono-Regular-webfont.ttf);
}

/* scaffolding */
/* ----------- */
html {
	overflow-y: scroll;
	*overflow-x: hidden;
}

.container {
	max-width: 750px;
	margin: 0 auto;
	text-align: center;
}

.tt-dropdown-menu, .gist {
	text-align: left;
}

/* base styles */
/* ----------- */
html {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.2;
	color: #333;
}

a {
	color: #03739c;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.table-of-contents li {
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.table-of-contents li a {
	font-size: 16px;
	color: #999;
}

.title, .example-name {
	font-family: Prociono;
}

p+p {
	margin: 30px 0 0 0;
}

/* site theme */
/* ---------- */
.title {
	margin: 20px 0 0 0;
	font-size: 64px;
}

.example {
	padding: 30px 0;
}

.example-name {
	margin: 20px 0;
	font-size: 32px;
}

.demo {
	position: relative;
	*z-index: 1;
	margin: 50px 0;
}

.typeahead, .tt-query, .tt-hint {
	height: 20px;
	padding: 8px 7px;
	font-size: 16px;
	line-height: 30px;
	width: 248px;
	border: 1px solid #ccc;
	outline: 0;
}

.typeahead {
	background-color: #fff;
}

.tt-query {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
	color: #999
}

/*Style dropdown Result Typeahead*/
.tt-dropdown-menu {
	width: 248px;
	padding: 8px 7px;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
	/*
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
   background: none repeat scroll 0% 0% #E2E2E2;
*/
	border-top: 1px solid #C7C7C7;
	font-size: 14px;
	/*font-weight: bold;*/
	color: #4A4A4A;
	cursor: pointer;
	line-height: 34px;
	padding: 3px 10px;
	overflow-y: auto;
}

.tt-suggestion:first-child {
	border: 0px;
}

/*Dropbox result hier:*/
/*Dropbox result hier:*/
.tt-suggestion.tt-cursor {
	color: #fff;
	background-color: #23404E;
}

.tt-suggestion p {
	margin: 0;
}

.gist {
	font-size: 14px;
}

/* example specific styles */
/* ----------------------- */
#custom-templates .empty-message {
	padding: 5px 10px;
	text-align: center;
}

#multiple-datasets .league-name {
	margin: 0 20px 5px 20px;
	padding: 3px 0;
	border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-dropdown-menu {
	max-height: 150px;
	overflow-y: auto;
}

#rtl-support .tt-dropdown-menu {
	text-align: right;
}

div.filter div {
	padding: 3px;
}

#saveService, .saveModul, .add-report {
	background-image: -moz-linear-gradient(center bottom, rgb(30, 144, 255)
		40%, rgb(135, 206, 250) 70%);
	border: 1px solid #fff;
	border-radius: 5px;
	color: #fff;
	font-size: 14px;
	margin-right: 12px;
	margin-top: 8px;
	padding-top: 4px;
	text-align: center;
	text-shadow: none;
	float: inherit;
	background: #0A8476;
	height: 40px;
	vertical-align: middle;
}


 .add-module {
	background-image: -moz-linear-gradient(center bottom, rgb(30, 144, 255)
		40%, rgb(135, 206, 250) 70%);
	border: 1px solid #fff;
	border-radius: 5px;
	color: #fff;
	font-size: 14px;
	
	margin-top: 8px;
	padding-top: 4px;
	text-align: center;
	text-shadow: none;
	float: inherit;
	background: #0A8476;
	height: 30px;
	vertical-align: middle;
}


div.modul-standard-name, div.modul-normal-name, 
div.modul-name {
	font-size: 14px;
	height: 25px;
	vertical-align: baseline;
	background: #e2e2e2;
	border-bottom: 1px solid #c7c7c7;
	font-size: 14px;
	font-weight: bold;
	color: #4a4a4a;
	cursor: pointer;
}

div.modul-standard-name a,div.modul-normal-name a,
div.modul-name a {
	padding: 10px;
}

.modulesNav {
	width: auto !important;
	height: 203px;
	border-bottom: 1px solid #c7c7c7;
}

/******* SERVICE **********/
.addBox, .containerBox {
	border: 1px solid #c7c7c7;
	font-size: 14px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	text-transform: uppercase;
	width: 200px;
	float: left;
	position: relative;
	margin: 0px 4px 4px 0;
	cursor: pointer;
}

.addBox {
	width: 50px;
}

.containerBox {
	color: #fff !important;
}

.closeBox {
	position: absolute;
	top: 0;
	right: 0;
	line-height: 10px;
}

.status-box {
	position: absolute;
	bottom: 0;
	right: 0;
	line-height: 10px;
}

.arrowBox {
	line-height: 60px;
	float: left;
}

.arrowBox img.arrow {
	width: 32px;
	height: 32px;
	vertical-align: middle;
}

.modulList {
	padding: 5px;
}

.second {
	border-top: 1px solid #CCCCCC;
	margin-top: 10px;
	padding-top: 15px;
}

.documents {
	display: none;
}

.remove-document {
	float: right;
}

#addDocument {
	cursor: pointer;
	font-size: 12px;
	text-indent: 15px;
}

.addToService {
	margin-left: 5px;
	border: 1px solid #fff;
	border-radius: 5px;
	color: #fff;
	font-size: 14px;
	margin-right: 12px;
	margin-top: 8px;
	padding-top: 4px;
	text-align: center;
	text-shadow: none;
	float: inherit;
	background: #0A8476;
	height: 40px;
	vertical-align: middle;}

.list-document {
	margin: 10px 0;
}

.report-content,
.modul_details {
	width: 500px;
}

.report-content h3,
.modul_details h3, 
.modulLeft h3, .modulRight h3
{
	text-transform: uppercase;
	font-size: 16px;
	border-top: 2px solid #c9c9c9;
	border-bottom: 1px solid #c9c9c9;
	padding: 10px 0px;
	background-color: #0A8476;
	text-indent: 10px;
	color: white;
}

.modul_details h4 {
	font-size: 14px;
}

.modul_details table {
	width: 100%;
	padding: 2px;
	table-layout:fixed;
}

.comments {
	margin-top: 10px;
}

.comments h3 {
	border-top: 1px solid #CCCCCC;
	margin: 0;
	padding: 5px;
	font-size: 15px;
}

.bottomBox2 label {
	font-size: 12px;
	vertical-align: top;
}

.bottomBox2 input {
	vertical-align: top;
}
.report-content input,
.report-content textarea,
.bottomBox2 input, .bottomBox2 textarea {
	margin: 0;
	padding: 0;
}

.bottomBox2 .info {
	padding: 10px;
}

.save-as-normal {
	font-size: 12px;
	margin: 10px;
}

.resources {
	display: none;
}

.modulLeft {
	float: left;
	width: 45%;
	margin-right: 12px;
}

.modulRight {
	float: left;
	width: 45%;
}

.modul-outsourcing h3,
.requirement-container h3, 
.modul-normal-container h3,
.modulLeft h3, 
.modulRight h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 16px;
}

.requirement-container .info, 
.modul-outsourcing .info,
.report-content .info, 
.modul-normal-container .info {padding: 10px; font-size: 12px;}

.grey h1 span {
	font-style: italic;
}

span.add-more-report {
	font-style: italic;
	font-size: 13px;
	cursor: pointer;
	color: darkcyan; 
}

.report-item {
	margin: 5px;
}
.report-item em {
	font-size: 12px;
}

.outsourcing {
	float: right;
}

.info-input div {
	margin: 10px;
	position: relative;
}

.info-input {
	position: relative;
}

.info-input div.remove {
	position: absolute;
	top: -10px;
	right: 0;
	color: red;
	font-weight: bold;
	cursor: pointer;
}

.partner-selected, .partner-name, 
.apply, .view, .view-develop, .view-develop-done {
	cursor: pointer;
	color: #03739c;
}

.toolbar-modul {
	float: right; 
	font-size: 12px;
}
span.add-requirement {
	cursor: pointer;
	color: blue;
	font-weight: bold;
}

.re-box {
	width: 100%;
	height: 100%;
	background: #CCC;
	z-index: 9999;
	opacity: 0.5;
	position: absolute;
}
.requirement-container {
	position:absolute;
	top: 39%;
	left: 39%;
	margin-top: -50px; /* this is half the height of your div*/
	margin-left: -100px; /*this is half of width of your div*/
	border: 5px solid #CCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: 9999;
	padding: 10px;
	background: #CCC;
}

.modul-outsourcing,
.modul-normal-list {
	min-height: 500px;
}

.tbl-requirement, 
.tbl-requirement-detail {
	border: 1px solid #CCC;
	border-collapse: collapse;
	font-size: 12px;
}

.tbl-requirement-detail tr th, .tbl-requirement-detail tr td,
.tbl-requirement tr th, .tbl-requirement tr td {border: 1px solid #CCC;padding: 3px;}

label.title {
	font-size: 12px;
}

.label {
	float: left;
	margin-right: 0.5em;
	margin-top: 10px;
	padding-left: 5px;
	text-align: justify;
	width: 180px;
}

.td-remove-detail, 
.td-remove {
	cursor: pointer;
	color: red;
}

