<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8"/>
  <title>CRM</title>
  <link rel="stylesheet" type="text/css" href="<?=base_url();?>css/styles.css" media="screen, projection" />
  <link rel="stylesheet" type="text/css" href="<?=base_url();?>css/jqueryui.css" media="screen, projection" />
  <link rel="stylesheet" type="text/css" href="<?=base_url();?>fancybox/jquery.fancybox-1.3.4.css" media="screen, projection" />
  <!--Jquery TE-->
  <link rel="stylesheet" type="text/css" href="<?=base_url();?>css/jquery-te-1.4.0.css" media="screen, projection" />
  
  <!--
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
 -->

  <script  type="text/javascript"  src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <script src="<?=base_url();?>js/jquery-ui-1.10.4.min.js"></script>

<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>

  <script src="<?=base_url();?>js/search.js"></script>
  <script src="<?=base_url();?>js/iscroll.js"></script>
  <script src="<?=base_url();?>js/jquery.fancybox-1.3.4.js"></script>
   <script src="<?=base_url();?>js/bloodhound.js"></script>
   <script src="<?=base_url();?>js/bloodhound.min.js"></script>
   <script src="<?=base_url();?>js/typeahead.bundle.js"></script>
   <script src="<?=base_url();?>js/typeahead.bundle.min.js"></script>
   <script src="<?=base_url();?>js/typeahead.jquery.js"></script>
   <script src="<?=base_url();?>js/typeahead.jquery.min.js"></script>

   <script src="<?=base_url();?>js/handlebars.js"></script>
   <script src="<?=base_url();?>js/jquery-te-1.4.0.min.js"></script>
   
   <script src="<?=base_url();?>js/jquery-te-1.4.0.js"></script>
   

   <script>

   function getSearchresult() {
      var data = $(location).attr('pathname');
      var arr = data.split('/');

      var searchword = $('input[name=searchword]');
      var data = 'searchword=' + searchword.val();

      var url = '<?=base_url();?>search/searching/' + arr[1];
      //alert(url);
      $.ajax({
        url: url,
        dataType: "json",
        type: "POST",
        data: data,
                
        success: function (data) {
          var ul = $('#navLeft');
          
        ul.empty();

          $.each(data,function(i,obj) {
            console.log(data);
            if (obj.firstname) {
              if(obj.firstname == 'undefined') { obj.firstname = '';} 
              if(obj.lastname == 'undefined') { obj.lastname = '';}
              
              $('<li onclick="document.location.href = \'<?=base_url();?>' + arr[1] + '/show/' + obj.id + '\'"><p>'+obj.firstname+' '+obj.lastname+'</p><span class="navArrow"></span><div class="clear"></div></li>').appendTo(ul);
            } else {
              $('<li onclick="document.location.href = \'<?=base_url();?>' + arr[1] + '/show/' + obj.id + '\'"><p>'+obj.name+'</p><span class="navArrow"></span><div class="clear"></div></li>').appendTo(ul);
            }
          });
        }
      });
   }

   $(document).ready(function () {
   
      getSearchresult();
      $( "#searchword" ).keyup(function() {
        getSearchresult();
      });
      
      $("#txtgekommen").click(function () {
          $('input:radio[id=chkgekommen]').prop('checked', false);

      });

      $('input:radio[name="chkgekommen"]').change(function(){
        $('#txtgekommen').val('');
      
      });

      $("#txtgekommen1").click(function () {
          $('input:radio[id=chkgekommen1]').prop('checked', false);

      });

      $('input:radio[id="chkgekommen1"]').change(function(){
        $('#txtgekommen1').val('');
      
      });

      $("#rabsage").click(function(){
         $(".divfeedback").show();
          $('#trZusage').hide();
          $('.trAbsage').show();
          $('#type').val("Absage")
          //alert($('#type').val());
          $(".feedback").hide();  
      });

      $("#rzusage").click(function(){
          $(".divfeedback").show();
//          $("#divZusage").hide(100);
          $('.trAbsage').hide();
          $('#trZusage').show();
          $('#type').val("Zusage");
          $(".feedback").hide();         //alert($('#type').val());
      });

      $("#feedback").click(function(){
        $(".feedback").show();
        $('input:radio[name="rfeedback"]').attr('checked',false);
        //alert("xong");
      });

      $("input[name='rfeedback']").click(function() {
        $("input[id='type']") = this.value;
      });

      //Check form Befragung:
      $( "#frmBefragung" ).submit(function( event ) {
          
         // if (!$('[name="price"]').is(':checked')){
           //   alert("Xin nhap prece");
          //}
        });
       });

   </script>